#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

# Do you like debian?
# db_input medium foo/like_debian || true
db_fset foo/like_debian seen false ||true
db_input critical foo/like_debian || true
db_go
# Check their answer.
db_get foo/like_debian
if [ "$RET" = "false" ]; then
    # Poor misguided one..
    db_metaget foo/why_debian_is_great Description
    db_subst foo/why_debian_is_great Description $RET
    db_fset foo/why_debian_is_great seen false||true
    db_input critical foo/why_debian_is_great || true
    db_go
else
    echo yes
fi

db_metaget shared/window-manager owners
OWNERS=$RET
db_metaget shared/window-manager choices
CHOICES=$RET
      
if [ "$OWNERS" != "$CHOICES" ]; then
    db_subst shared/window-manager choices $OWNERS
    db_fset shared/window-manager seen false
fi

db_fset shared/window-manager seen false|| true
db_input critical shared/window-manager || true
db_go || true
