#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

db_settitle foo/title

# Do you like debian?
# db_input medium foo/like_debian || true
db_fset foo/like_debian seen false ||true
db_input critical foo/like_debian || true
db_go
# Check their answer.
db_get foo/like_debian
if [ "$RET" = "false" ]; then
    # Poor misguided one..
    db_metaget foo/why_debian_is_great Description
    db_subst foo/why_debian_is_great Description $RET
    db_fset foo/why_debian_is_great seen false||true
    db_input critical foo/why_debian_is_great || true
else
    echo yes
fi
db_go

# ask for chooseing a window-manager
db_fset shared/window-manager seen false
db_subst shared/window-manager CHOICES 'one{!TAB}two, three{!TAB}four, five, six'
db_input critical shared/window-manager
db_go

# ask for your name
db_settitle foo/my_name/user-setup
db_get foo/my_name
if [ -n $RET ];then
	db_set foo/my_name
fi
db_metaget foo/my_name Description
db_subst foo/my_name string $RET
db_fset foo/my_name seen false ||true
db_input critical foo/my_name
# db_set foo/my_name $RET
# ‘取消’按钮
db_capb backup
db_go ||true

# multi select window-manager
db_settitle shared/multi-window
db_fset shared/multi-window-manager seen false||true
db_input critical shared/multi-window-manager || true
db_go
